@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@100&display=swap");
.footer_outer {
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  margin-top:200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;

  box-shadow: -1px -8px 8px -4px lightblue;
  border-top: 1px solid lightblue;
}
.footer_col {
  width: 20%;
  display: flex;align-items: center;
  justify-content: center;
}
.footer_col label {
  width: 100%;
  text-align: center;
  color: grey;
  /* color: black; */
  font-family: "Lato", sans-serif;

  font-size: clamp(0.5rem, 2vw, 1rem);
  line-height: 20px;
}

.footer_col label:hover {
  /* color: #FB4997; */
  color: black;
}
