body {
  font-family: sans-serif;
  min-width: 550px;
}
.lotterybuynow_container {
  background-color: #171739;
  color: white;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  width:40%;
  border:1px solid black
}
.lotterybuynow_lotteryname {
  /* background-color: #171739; */
  padding: 10px 0px;
  border-radius: 10px;
  font-size:1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  justify-content:space-evenly;
  /* border:1px solid black; */
}
.lotterybuynow_lotteryprice {
  /* background-color: #171739; */
  padding: 5px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lotterybuynow_lotteryprice button{
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  color: #171739;
  border-style: none;
  font-size: 14px;
  cursor: pointer;
}
.lotterybuynow_lotteryprice button:hover{
  background-color: goldenrod;
}
.lotterybuynow_lottery_countdown_sec {
  display: flex;
  /* background-color: #171739; */
  /* border:1px solid black; */
  padding: 5px 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.lotterybuynow_lotterydraw_date {
  font-size: 1rem;
 width: 200px;
  /* background-color: #171739; */
}
.lotterybuynow_countdown {
  display: flex;
}
.lotterybuynow_countdown_sub {
  margin: 5px;
  width: 50px;
}
.lotterybuynow_countdown {
  margin-right: 10px;
}
.CircularProgressbar-text {
  font-size: .7rem;
}
.progressbar_child {
  font-size: .6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progressbar_child h6 {
  margin: 0;
  font-size: .6rem;
}
.lotterybuynow_lotteryname button{
  width: 100%;
  font-size: 1.5rem;
  border-radius: 20px;
}