.ticketselector_outer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
   
}

.ticketselector_line
{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
.ticketselector_chkoutbtn{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    /* background-color: aquamarine; */
    /* margin-top: 50px; */
    margin-bottom: 30px;

}
.Ticketslector_errmsg{
    color: red;
    display: flex;
    text-align: center;
    justify-content: center;
}
.ticketselector_lotteryname{
   
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right:30px;

}
.ticketslector_lotterybuynow{
    display: flex;
    justify-content: center;
}
.ticketselector_lotteryname select {
   background-color: white;
   border:none;
   outline:none;
   margin-left:10px
}
.ticketselector_lotteryname{
    /* background-color: black; */
    color:goldenrod
}
/* .ticketselector_lotteryname select{
    background-color: black;
    color:white
} */